:root {
  --width: calc(100vw / 1000);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0;
  padding: 0 0 calc(var(--width)*63);
  border: 0;
  background: #f4f6fa;
}

.banner {
  width: 100%;
  height: auto;
}

.part-1 {
  margin: calc(var(--width)*42) auto calc(var(--width)*56);
  width: calc(var(--width)*833);
  background-color: #fff;
  height: auto;
  border-radius: calc(var(--width)*20);
  padding-bottom: calc(var(--width)*28);
}

.redPocket {
  width: 100%;
  height: auto;
  background-image: url(images/redPocket.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.leftPart {
  padding: calc(var(--width)*21);
  width: calc(var(--width)*386);
}

.rightPart {
  width: calc(var(--width)*447);
  padding: calc(var(--width)*28) calc(var(--width)*18) calc(var(--width)*18) calc(var(--width)*54);
}

.title1 {
  text-align: center;
  font-size: calc(var(--width)*21);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #f03e1a;
  line-height: calc(var(--width)*30);
  padding-top: calc(var(--width)*21);
  text-align: center;
}

.labelGroup1 {
  text-align: center;
  padding-bottom: calc(var(--width)*7);
}

.label1-1 {
  font-size: calc(var(--width)*17);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #914e03;
  line-height: calc(var(--width)*22);
}

.label1-2 {
  font-size: calc(var(--width)*13);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  color: #914e03;
  line-height: calc(var(--width)*22);
}

.pic1 {
  width: calc(var(--width)*324);
  height: calc(var(--width)*125);
  border-radius: calc(var(--width)*6);
  border: 1px solid #914e03;
  display: block;
  margin: 0 auto;
}

.labelGroup2 {
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--width)*14);
  flex-wrap: wrap;
  padding: 0 calc(var(--width)*21);
}

.labelGroup3 {
  display: flex;
  flex-direction: column;
}

.pic2,
.pic3 {
  width: calc(var(--width)*144);
  height: calc(var(--width)*125);
  margin-top: calc(var(--width)*7);
}

.labelGroup4 {
  display: flex;
  flex-direction: column;
}

.label3-1 {
  font-size: calc(var(--width)*17);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  text-align: center;
  color: #914e03;
  line-height: calc(var(--width)*22);
}

.label3-2 {
  font-size: calc(var(--width)*13);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  color: #914e03;
  text-align: center;
  line-height: calc(var(--width)*22);
}

.labelGroup5 {
  font-size: calc(var(--width)*10);
  font-family: MicrosoftYaHeiSemibold;
  color: #333333;
  line-height: calc(var(--width)*13);
  font-weight: bold;
  padding: calc(var(--width)*14) calc(var(--width)*14) calc(var(--width)*6);
}

.title2 {
  font-size: calc(var(--width)*21);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #ffffff;
  line-height: calc(var(--width)*30);
  text-align: center;
  margin-bottom: calc(var(--width)*28);
}

.bold1 {
  font-size: calc(var(--width)*28);
}

.table {
  width: calc(var(--width)*375);
}

.tableTitle {
  font-size: calc(var(--width)*17);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #333333;
  line-height: calc(var(--width)*22);
  padding: calc(var(--width)*10) 0;
  background: linear-gradient(90deg, #ffe6c8 0%, #fcc08e 100%);
  border-radius: calc(var(--width)*7) calc(var(--width)*7) 0px 0px;
  border-right: none;
  text-align: center;
}

.bgcolor {
  background-color: #fff;
}

.tableLabel1,
.tableLabel3 {
  display: flex;
  background-color: rgba(255, 227, 195, 0.2);
  border: 1px solid #dddddd;
  font-size: calc(var(--width)*10);
  font-family: MicrosoftYaHeiSemibold;
  color: #333333;
  line-height: calc(var(--width)*13);
  border-left: none;
  border-right: none;
}

.tableLabel2,
.tableLabel4 {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-top: none;
}

.tableLabel2 {
  font-size: calc(var(--width)*10);
  font-family: MicrosoftYaHeiSemibold;
  color: #333333;
  line-height: calc(var(--width)*13);
}

.tableLabel4 {
  font-size: calc(var(--width)*13);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #333333;
  line-height: calc(var(--width)*17);
}

.label-1 {
  width: 33.33%;
  padding: calc(var(--width)*15) 0 calc(var(--width)*14);
  border-right: 1px solid #dddddd;
  text-align: center;
  font-weight: bold;
}

.label-2 {
  width: 33.33%;
  padding: calc(var(--width)*15) 0 calc(var(--width)*14);
  border-right: 1px solid #dddddd;
  text-align: center;
  font-weight: bold;
}

.label-3 {
  width: 33.33%;
  padding: calc(var(--width)*15) 0 calc(var(--width)*14);
  border-right: 1px solid #dddddd;
  text-align: center;
  font-weight: bold;
}

.label-4 {
  width: 33.33%;
  padding: calc(var(--width)*15) 0 calc(var(--width)*14);
  border-right: 1px solid #dddddd;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.label-5 {
  width: 33.33%;
  padding: calc(var(--width)*15) 0 calc(var(--width)*14);
  border-right: 1px solid #dddddd;
  text-align: center;
}

.label-6 {
  width: 33.33%;
  padding: calc(var(--width)*6) 0 calc(var(--width)*3);
  border-right: 1px solid #dddddd;
  font-size: calc(var(--width)*13);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #f03e1a;
  line-height: calc(var(--width)*17);
  text-align: center;
  border-right: none;
}

.subTitle,
.subTitle2 {
  font-size: calc(var(--width)*10);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #914e03;
  line-height: calc(var(--width)*13);
}

.subLabel,
.subLabel2 {
  font-size: calc(var(--width)*10);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #333333;
  line-height: calc(var(--width)*13);
}

.subLabel {
  margin-bottom: calc(var(--width)*7);
}

.tableContent {
  padding: calc(var(--width)*11) calc(var(--width)*7) calc(var(--width)*10) calc(var(--width)*14);
  background-color: rgba(255 227 195/20%);
  /* opacity: 0.2; */
}

.bgBox {
  background-color: #ffffff;
  border-radius: 0px 0px calc(var(--width)*7) calc(var(--width)*7);
}

.lingquan {
  display: flex;
  align-items: center;
  margin-top: calc(var(--width)*31);
  margin-left: calc(var(--width)*28);
}

.arrow1 {
  width: calc(var(--width)*33);
  height: calc(var(--width)*17);
  margin-right: calc(var(--width)*10);
}

.arrowLabel {
  font-size: calc(var(--width)*17);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #f03e1a;
  line-height: calc(var(--width)*22);
}

.introduce {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: calc(var(--width)*14) calc(var(--width)*124) calc(var(--width)*21) calc(var(--width)*117);
}

.introduce1 {
  font-size: calc(var(--width)*35);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #f03e1a;
  line-height: calc(var(--width)*47);
  background: linear-gradient(180deg, #ff6648 0%, #d90000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.boxGroup1 {
  position: relative;
  margin-top: calc(var(--width)*17);
}

.box1 {
  width: calc(var(--width)*164);
  height: calc(var(--width)*16);
  background: #f03e1a;
  opacity: 0.14;
}

.box2 {
  width: calc(var(--width)*181);
  height: calc(var(--width)*16);
  background: #f03e1a;
  opacity: 0.14;
}

.introlabel1 {
  font-size: calc(var(--width)*17);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #333333 !important;
  line-height: calc(var(--width)*22);
  position: absolute;
  left: calc(var(--width)*7);
  bottom: calc(var(--width)*3);
}

.picGroup1 {
  display: flex;
  align-items: center;
  width: calc(var(--width)*765);
  margin: 0 auto;
  padding: 0 calc(var(--width)*33);
}

.pic4 {
  width: calc(var(--width)*119);
  height: calc(var(--width)*119);
}

.pic5, .pic6 {
  width: calc(var(--width)*154);
  height: calc(var(--width)*122);
}

.pic7 {
  width: calc(var(--width)*132);
  height: calc(var(--width)*122);
}

.arrow2,
.arrow3 {
  width: calc(var(--width)*20);
  height: calc(var(--width)*19);
}


.picGroup1 img {
  margin-right: calc(var(--width)*20);
}

.picContent1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: calc(var(--width)*12) calc(var(--width)*35) 0;
}

.content1,
.content2,
.hintContent1,
.hintContent2 {
  flex: 1;
  max-width: 48%;
}

.content1 {
  font-size: calc(var(--width)*13);
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: calc(var(--width)*17);
  text-align: center;
  word-wrap: break-word;
}

.content2 {
  font-size: calc(var(--width)*13);
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: calc(var(--width)*17);
  text-align: center;
  padding-left: calc(var(--width)*5);
}

.hintGroup1 {
  display: flex;
  padding-left: calc(var(--width)*35);
  padding-right: calc(var(--width)*51);
  justify-content: space-between;
  margin-top: calc(var(--width)*7);
}

.hintContent1,
.hintContent2 {
  font-size: calc(var(--width)*10);
  font-family: MicrosoftYaHei;
  color: #666666;
  line-height: calc(var(--width)*13);
  text-align: center;
}

.hintContent2{
  padding-left: calc(var(--width)*11);
  transform: translateX(calc(var(--width)*11));
}

.coupon {
  background: #f9f9f9;
  border-radius: calc(var(--width)*14);
  margin: calc(var(--width)*24) calc(var(--width)*24) 0;
  padding: calc(var(--width)*14);
}

.rules,
.number,
.time {
  display: flex;
}

.rules .former1 {
  width: calc(var(--width)*74);
}

.number {
  margin: calc(var(--width)*14) 0;
}

.rules,
.number {
  font-size: calc(var(--width)*13);
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: calc(var(--width)*17);
}

.time {
  font-size: calc(var(--width)*13);
  font-family: MicrosoftYaHei;
  color: #f03e1a;
  line-height: calc(var(--width)*17);
}

.title3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--width)*28);
}

.arrowLeft,
.arrowRight {
  width: calc(var(--width)*78);
  height: calc(var(--width)*15);
}

.title3Label {
  font-size: calc(var(--width)*21);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #333333;
  line-height: calc(var(--width)*28);
  margin:0 calc(var(--width)*7);
}

.part-2 {
  width: calc(var(--width)*834);
  margin: calc(var(--width)*28) auto 0;
  background-color: #fff;
  height: auto;
  border-radius: calc(var(--width)*14);
  padding: calc(var(--width)*42) calc(var(--width)*24) calc(var(--width)*28);
}

.couponIntro2 {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--width)*11);
  margin-top: calc(var(--width)*42);
}

.couponIntro1 {
  display: flex;
  align-items: center;
}

.arrowLabel1 {
  font-size: 24px;
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #f03e1a;
  line-height: 32px;
}

.arrow4 {
  width: 48px;
  height: 24px;
}

.rulesIntro {
  padding: calc(var(--width)*34) calc(var(--width)*28) calc(var(--width)*28);
  margin-top: calc(var(--width)*12);
  background: #f9f9f9;
  border-radius: calc(var(--width)*14);
}

.rulesPart1,
.rulesPart2,
.rulesPart3 {
  display: flex;
  align-items: center;
}

.rulesPart3 {
  align-items: flex-start;
}

.rulesNumber {
  font-size: calc(var(--width)*21);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #f03e1a;
  line-height: calc(var(--width)*28);
  background: linear-gradient(180deg, #ff6648 0%, #d90000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: calc(var(--width)*6);
}

.box3 {
  width: calc(var(--width)*1);
  height: calc(var(--width)*8);
  border: 1px dashed #f03e1a;
  margin-top: calc(var(--width)*4);
  margin-bottom: calc(var(--width)*8);
  margin-left: calc(var(--width)*10);
}

.rulesLabel1 {
  font-size: calc(var(--width)*14);
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: calc(var(--width)*19);
}

.rulesLabel {
  font-size: calc(var(--width)*14);
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: calc(var(--width)*19);
  padding-top: calc(var(--width)*5);
}

.bg-1 {
  background-image: url("images/bg-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: calc(var(--width)*39) calc(var(--width)*24) calc(var(--width)*28) calc(var(--width)*28);
  position: relative;
}

.blackIconGroup,
.appointmentPart,
.weixinPart,
.membershipPart,
.globalPart {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.blackIconGroup,
.appointmentLabel,
.weixinLabel,
.membershipLabel,
.globalLabel,
.addition {
  font-size: calc(var(--width)*14);
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: calc(var(--width)*24);
  display: flex;
  align-items: flex-start;
}

.blackIconGroup > div:nth-child(1) {
  width: calc(var(--width)*94);
  display: flex;
}

.blackIconGroup > div:nth-child(1) .bold2 {
  width: calc(var(--width)*94);

}

.blackIconGroup .blackIcon {
  margin-top: calc(var(--width)*4);
}

.appointmentLabel {
  font-size: calc(var(--width)*14);
  font-family: MicrosoftYaHei;
  color: #f03e1a;
  line-height: calc(var(--width)*24);
  font-weight: bold;
}

.blackIcon {
  margin-right: calc(var(--width)*6);
}

.appointment,
.weixin,
.membership,
.global,
.redTel,
.fixed {
  margin-right: calc(var(--width)*6);
}

.blackIcon,
.appointment,
.weixin,
.membership,
.global,
.redTel,
.fixed {
  width: calc(var(--width)*14);
  height: calc(var(--width)*14);
}

.usePart {
  font-size: calc(var(--width)*14);
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: calc(var(--width)*24);
  margin-top: calc(var(--width)*14);
  margin-bottom: calc(var(--width)*24);
}

.weixinPart,
.membershipPart,
.globalPart,
.addition {
  padding-left: calc(var(--width)*19);
}

.redTelPart,
.fixedPart {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}

.clarifyPart {
  display: flex;
  margin-top: calc(var(--width)*14);
  align-items: flex-start;
}

.redTelLabel1,
.fixedLabel1,
.clarifyLabel1 {
  font-size: calc(var(--width)*14);
  font-family: MicrosoftYaHei;
  font-weight: bold;
  color: #f03e1a;
  line-height: calc(var(--width)*24);
  white-space: nowrap;
}

.redTelLabel2,
.fixedLabel2,
.clarifyLabel2 {
  font-size: calc(var(--width)*14);
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: calc(var(--width)*24);
}

.clarifyLabel1,
.clarifyLabel2 {
  color: #333333 !important;
}

.front {
  display: flex;
  align-items: center;
}

.serviceStation {
  color: #333333;
  text-decoration: underline;
}

.getCoupon {
  font-size: calc(var(--width)*14);
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: calc(var(--width)*24);
  margin-top: calc(var(--width)*14);
  margin-bottom: calc(var(--width)*24);
}

.miniProgram {
  color: #f03e1a;
}

.convinent {
  font-size: 20px;
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: calc(var(--width)*24);
}

.bg1-arrow {
  position: absolute;
  bottom: -110px;
  left: 48%;
  width: 105px;
  height: 110px;
}

.title4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 80px;
}

.part-3 {
  width: calc(var(--width)*834);
  margin: calc(var(--width)*28) auto 0;
  background-color: #fff;
  height: auto;
  border-radius: calc(var(--width)*14);
  padding: calc(var(--width)*42) calc(var(--width)*24) calc(var(--width)*24);
}

.processPart1,
.processGroup1,
.whiteTelPart {
  display: flex;
  align-items: center;
}

.processPart1Group {
  display: flex;
}

.processPart1 {
  justify-content: space-between;
  width: calc(var(--width)*787);
}

.processPart1 {
  margin-bottom: calc(var(--width)*18);
}

.whiteTel {
  width: calc(var(--width)*11);
  height: calc(var(--width)*12);
  margin-right: calc(var(--width)*7);
}

.processNumber {
  font-size: calc(var(--width)*28);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #f03e1a;
  line-height:calc(var(--width)*37);
  background: linear-gradient(180deg, #ff6648 0%, #d90000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: calc(var(--width)*7);
}

.processLabel1 {
  font-size: calc(var(--width)*21);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #333333;
  line-height: calc(var(--width)*28);
  white-space: nowrap;
}

.whiteTelPart {
  margin-left: calc(var(--width)*14);
}

.whiteTelNumber {
  font-size: calc(var(--width)*14);
  font-family: MicrosoftYaHei;
  color: #999999;
  line-height: calc(var(--width)*31);
  white-space: nowrap;
}

.processHint {
  font-size: calc(var(--width)*17);
  font-family: MicrosoftYaHeiSemibold;
  color: #333333;
  line-height: calc(var(--width)*22);
  white-space: nowrap;
}

.tv-version {
  color: #f03e1a;
}

.box4 {
  border-radius: calc(var(--width)*14);
  border: 2px dashed #cacaca;
  padding: calc(var(--width)*28) calc(var(--width)*41) calc(var(--width)*28) calc(var(--width)*24);
}

.scanPart,
.webPart {
  display: flex;
  align-items: center;
}

.pic13 {
  width: calc(var(--width)*269);
  height: calc(var(--width)*131);
  max-width: none;
}

.pic14 {
  width: calc(var(--width)*238);
  height: calc(var(--width)*122);
  max-width: none;
}

.scanPart {
  margin-bottom: calc(var(--width)*20);
}

.webPart {
  margin-top: calc(var(--width)*28);
}

.box5 {
  background: #f03e1a;
  opacity: 0.14;
  width: calc(var(--width)*114);
  height: calc(var(--width)*16);
}

.box6 {
  width: calc(var(--width)*81);
  height: calc(var(--width)*16);
  background: #f03e1a;
  opacity: 0.14;
}

.scanGroup,
.webGroup {
  position: relative;
  margin-top: calc(var(--width)*6);
}

.scanLabel,
.webLabel {
  font-size: calc(var(--width)*17);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #333333;
  line-height: calc(var(--width)*22);
  position: absolute;
  left: calc(var(--width)*7);
  bottom: calc(var(--width)*3);
}

.scan,
.web {
  width: calc(var(--width)*35);
  height: calc(var(--width)*35);
  margin-right: calc(var(--width)*7);
}

.weixinStep {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-1 {
  width: calc(var(--width)*20);
  height: calc(var(--width)*19);
}

.weixinStep img {
  margin-right: calc(var(--width)*14);
  max-width: none;
  height: auto;
}

.pic8,
.pic9 {
  width: calc(var(--width)*100);
  height: calc(var(--width)*100);
}

.pic10,
.pic11,
.pic12 {
  width: calc(var(--width)*120);
  height: calc(var(--width)*110);
}

.miniWrapper {
  display: flex;
  margin-top: calc(var(--width)*3);
}

.stepPart1 {
  display: flex;
}

.picHint1 {
  font-size: calc(var(--width)*8);
  font-family: MicrosoftYaHei;
  color: #666666;
  line-height: calc(var(--width)*11);
  text-align: center;
}

.pic8Wrapper {
  margin-right: calc(var(--width)*22);
}

.stepIntroduce {
  display: flex;
  justify-content: space-around;
}

.step-1 {
  margin-left: calc(var(--width)*52);
  margin-right: calc(var(--width)*112);
}

.step-2 {
  margin-right: calc(var(--width)*56);
}

.step-3 {
  margin-right: calc(var(--width)*50);
  transform: translateX(calc(var(--width)*16));
}


.step-4 {
  transform: translateX(calc(var(--width)*15));
  width: calc(var(--width)*129);
}

.step-1,
.step-2,
.step-3,
.step-4 {
  font-size: calc(var(--width)*10);
  font-family: MicrosoftYaHeiSemibold;
  color: #111111;
  line-height: calc(var(--width)*13);
  text-align: center;
  margin-top: calc(var(--width)*14);
  font-weight: bold;
}

.addition-1 {
  font-size: calc(var(--width)*10);
  font-family: MicrosoftYaHei;
  color: #999999;
  line-height: calc(var(--width)*13);
  margin-top: calc(var(--width)*14);
}

.additionLabel1 {
  /* margin-top: calc(var(--width)*6); */
}

.webStep {
  display: flex;
  margin-top: calc(var(--width)*17);
  padding-left: calc(var(--width)*40);
  padding-right: calc(var(--width)*83);
}

.webAppointmentLabel1 {
  white-space: nowrap;
}

.webAppointmentLabel2 {
  width: calc(var(--width)*308);
  transform: translateX(calc(var(--width)*-10));
}

.webAppointmentLabel1,
.webAppointmentLabel2 {
  font-size: calc(var(--width)*10);
  font-family: MicrosoftYaHeiSemibold;
  color: #333333;
  line-height: calc(var(--width)*13);
  text-align: center;
  margin-top: calc(var(--width)*11);
  font-weight: bold;
}

.pic14Group {
  margin-top: calc(var(--width)*9);
  margin-left: calc(var(--width)*94);
}

.dashed {
  position: relative;
  width: calc(50% - 225px);
  height: calc(var(--width)*15);
  margin-left: calc(var(--width)*133);
  border-right: 2px dashed rgb(1 50 135 / 20%);
  border-bottom: 2px dashed rgb(1 50 135 / 20%);
}

.dashed::before {
  content: " ";
  position: absolute;
  top: 18px;
  width: 0;
  height: calc(var(--width)*24);
  border-left: 2px dashed rgb(1 50 135 / 20%);
}

.dashed::after {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  bottom: calc(var(--width)*-36);
  left: -5px;
  border-top: 10px dashed rgb(1 50 135 / 20%);
  border-bottom: 10px dashed transparent;
  border-right: 6px dashed transparent;
  border-left: 6px dashed transparent;
  border-radius: 2px;
}

.processStep {
  display: flex;
  align-items: center;
}

.processGroup2,
.processGroup3,
.processGroup4 {
  display: flex;
  align-items: center;
  text-align: center;
}

.dashedArrow {
  position: relative;
  width: calc(var(--width)*53);
  border: 2px dashed #000000;
  opacity: 0.21;
  margin-right: calc(var(--width)*40);
  margin-left: calc(var(--width)*44);
}
.dashedArrow2 {
  margin-right: calc(var(--width)*19);
  margin-left: calc(var(--width)*40);
}

.dashedArrow:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -15px;
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #000000;
}

.processStep {
  margin-top: calc(var(--width)*31);
  padding: 0 calc(var(--width)*41);
}

.processPart2 {
  padding-left: calc(var(--width)*30);
}

.processGroup3,
.processGroup4 {
  font-size: 20px;
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: 27px;
  text-align: center;
}

.labelGroup {
  display: flex;
  padding: 0 calc(var(--width)*41);
  font-size: calc(var(--width)*14);
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: calc(var(--width)*19);
  margin-top: calc(var(--width)*8);
}

.processIntro1,
.processIntro2 {
  margin-right: calc(var(--width)*77);
}

.processIntro1,
.processIntro2,
.processIntro3 {
  width: calc(var(--width)*183);
  text-align: center;
}

.otherGroup {
  width: calc(var(--width)*787);
  background: #f9f9f9;
  border-radius: calc(var(--width)*14);
  padding: calc(var(--width)*15) calc(var(--width)*21);
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--width)*42);
}
/* 
.dot {
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 5px; 
}*/

/* 
.list1 {
  display: flex;
  align-items: center;
  word-wrap: nowrap;
} */

.beizhu {
  font-size: calc(var(--width)*14);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #f03e1a;
  line-height: calc(var(--width)*24);
  align-self: flex-start;
}

.otherLabel {
  font-size: calc(var(--width)*13);
  font-family: MicrosoftYaHei;
  /* font-weight: bold; */
  color: #333333;
  line-height: calc(var(--width)*24);
}

.otherLabel {
  margin-left: 12px;
}

/* .list2 {
  display: flex;
  align-items: flex-start;
} */

.otherRight {
  flex: 1;
}

.otherLeft {
  /* width: calc(var(--width)*364); */
}

.otherRight,
.otherLeft ul {
  font-size: calc(var(--width)*13);
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: calc(var(--width)*24);;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.otherRight,
.otherLeft ul li {
  list-style: none;
}

.leftList li::before {
  content: "\2022";
  color: #000;

  margin-left: 5px;
  margin-right: 5px;
}

.rightList li::marker {
  content: "";
}

.rightList li::before {
  content: "\2022";
  color: #000;
  margin-left: 5px;
}

.end {
  font-size: calc(var(--width)*14);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #333333;
  line-height: calc(var(--width)*19);
  text-align: center;
  padding-top: calc(var(--width)*21);;
}

.title5 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--width)*28);
  margin-top: calc(var(--width)*65);
}

.part-4 {
  width: calc(var(--width)*834);
  margin: calc(var(--width)*28) auto 0;
  background-color: #fff;
  height: auto;
  border-radius: calc(var(--width)*14);
  padding: calc(var(--width)*42) calc(var(--width)*28) calc(var(--width)*28);
}

.shoufei {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fee1,
.fee2,
.fee3 {
  background: #f9f9f9;
  border-radius: calc(var(--width)*14);
  width: calc(var(--width)*229);
  height: calc(var(--width)*176);
  padding: calc(var(--width)*21) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic15 {
  width: calc(var(--width)*92);
  height: calc(var(--width)*60);
  margin-bottom: calc(var(--width)*14);
}

.feeName1,
.feeName2,
.feeName3 {
  font-size: calc(var(--width)*21);
  font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
  font-weight: bold;
  color: #333333;
  line-height: calc(var(--width)*28);
  text-align: center;
  word-wrap: nowrap;
}

.feeDetail1,
.feeDetail2,
.feeDetail3 {
  font-size: calc(var(--width)*14);
  font-family: MicrosoftYaHei;
  color: #333333;
  line-height: calc(var(--width)*19);
  margin-top: calc(var(--width)*14);
  text-align: center;
}

.redPlus {
  width: calc(var(--width)*17);
  height: calc(var(--width)*17);
}

/* 不展示区域 */
.btn,
.btnHint,
.btnLabel,
.mobilePicGroup,
.mcoupon,
.mfixedLabel2,
.mbg1-arrow,
.mprocessHint,
.mweixinStep,
.mprocessStep,
.mshoufei {
  display: none;
}

@media (max-width: 1023px) {
  .part-1 {
    margin: calc(var(--width)*80) auto calc(var(--width)*56);
    width: calc(var(--width)*920);
    background-color: #fff;
    height: auto;
    border-radius: calc(var(--width)*20);
    padding-bottom: calc(var(--width)*28);
  }

  .redPocket {
    width: 100%;
    height: 1000px;
    /* background-image: url(images/mobileRedPocket.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    background-image: none;
    display: flex;
    flex-direction: column;
  }

  .leftPart {
      padding: calc(var(--width)*80);
      width: 100%;
      height: 500px;
      background-image: url(images/mobileRedPocketLeft.png);
      background-size: 100% 100%;
  }

  .title1 {
    font-size: calc(var(--width)*53);
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #f03e1a;
    line-height: calc(var(--width)*84);
    padding-bottom: calc(var(--width)*27);
    text-align: center;
  }

  .labelGroup1 {
    text-align: center;
    
    padding-bottom: calc(var(--width)*13);
  }

  .label1-1 {
    font-size: calc(var(--width)*40);
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #914e03;
    line-height: calc(var(--width)*53);
  }

  .label1-2 {
    font-size: calc(var(--width)*84);
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    color: #914e03;
    line-height: 20px;
  }

  .label3-1 {
    font-size: 15px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #914e03;
    line-height: 20px;
  }

  .label3-2 {
    font-size: 13px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    color: #914e03;
    line-height: 20px;
  }

  .pic2,
  .pic3 {
    width: 138px;
    height: 110px;
  }

  .labelGroup5 {
    font-size: 12px;
    font-family: MicrosoftYaHeiSemibold;
    color: #333333;
    line-height: 16px;
  }

  .rightPart {
    background-image: url(images/mobileRedPocketRight.png);;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .title2 {
    font-size: 20px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #ffffff;
    line-height: 32px;
    text-align: center;
    margin-bottom: 30px;
  }

  .bold1 {
    font-size: 30px;
  }

  .btn {
    display: block;
    width: 117px;
    height: 35px;
    background: linear-gradient(180deg, #ffe6c8 0%, #fcc08e 100%);
    box-shadow: 0px 7px 10px 0px rgba(142, 0, 0, 0.5);
    border-radius: 18px;
    font-size: 15px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #f03e1a !important;
    line-height: 20px;
    letter-spacing: 5px;
    margin: 8px auto;
    text-align: center;
    vertical-align: middle;
  }

  .getRightNow {
    color: #f03e1a;
    text-decoration: none;
  }

  .btnHint {
    display: block;
    font-size: 12px;
    font-family: MicrosoftYaHeiSemibold;
    color: #ffbdbd;
    line-height: 16px;
    text-align: center;
    margin-bottom: 15px;
  }

  .tableTitle {
    font-size: 12px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 16px;
    padding-top: 8px;
    padding-left: 63px;
    padding-right: 63px;
    padding-bottom: 8px;
    background: linear-gradient(90deg, #ffe6c8 0%, #fcc08e 100%);
    border-radius: 10px 10px 0px 0px;
    border-right: none;
    text-align: center;
  }

  .tabelLabel1,
  .tabelLabel2,
  .tabelLabel3 {
    font-size: 12px;
    font-family: MicrosoftYaHeiSemibold;
    color: #333333;
    line-height: 16px;
  }

  .label-1 {
    padding: 12px 23px;
  }

  .label-2 {
    padding-top: 12px;
    padding-right: 29px;
    padding-bottom: 12px;
    padding-left: 28px;
  }

  .label-3 {
    padding-top: 12px;
    padding-right: 23px;
    padding-bottom: 12px;
    padding-left: 23px;
  }

  .label-4 {
    padding-top: 10px;
    padding-right: 23px;
    padding-bottom: 10px;
    padding-left: 23px;
  }

  .label-5 {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 31px;
  }

  .label-6 {
    padding-top: 7px;
    padding-bottom: 9px;
  }

  .label-4,
  .label-5 {
    font-size: 15px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 20px;
  }

  .label-6 {
    font-size: 12px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #f03e1a;
    line-height: 16px;
  }

  .subTitle,
  .subTitle2,
  .subLabel,
  .subLabel2 {
    font-size: 12px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;

    line-height: 16px;
  }

  .subTitle,
  .subTitle2 {
    color: #914e03;
  }

  .subLabel,
  .subLabel2 {
    color: #333333;
  }

  .subLabel {
    margin-bottom: 10px;
  }

  .lingquan {
    margin-top: 20px;
    margin-left: 20px;
  }

  .arrow1 {
    width: 28px;
    height: 14px;
    margin-right: 4px;
  }

  .arrowLabel {
    font-size: 15px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #f03e1a;
    line-height: 20px;
  }

  .introduce,
  .picGroup1,
  .picContent1,
  .hintGroup1,
  .coupon {
    display: none;
  }

  .mobilePicGroup,
  .mcoupon {
    display: block;
  }

  .mintro1,
  .mintro2 {
    text-align: center;
  }

  .mintroduce1 {
    font-size: 40px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #f03e1a;
    line-height: 53px;
    background: linear-gradient(180deg, #ff6648 0%, #d90000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .mintrolabel1,
  .mintorlabel2 {
    font-size: 15px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .mintro1,
  .mintro2 {
    padding-left: 125px;
    padding-right: 125px;
  }

  .mbox1,
  .mbox2 {
    background: #f03e1a;
    opacity: 0.14;
    height: 15px;
    width: 95px;
    height: 15px;
    position: absolute;
    bottom: -5px;
    left: 0px;
  }

  .mboxGroup1 {
    position: relative;
    margin-bottom: 23px;
  }

  .mpicGroup2 {
    display: flex;
    padding-left: 75px;
    padding-right: 45px;
    justify-content: space-between;
  }

  .mpic4 {
    width: 108px;
    height: 99px;
    margin-right: 15px;
  }

  .mpic5 {
    width: 120px;
    height: 99px;
  }

  .mcontent1 {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 16px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }

  .mhintContent1 {
    font-size: 9px;
    font-family: MicrosoftYaHei;
    color: #999999;
    line-height: 12px;
    margin-top: 10px;
    text-align: center;
  }

  .mpic6 {
    width: 120px;
    height: 99px;
  }

  .mpic7 {
    width: 108px;
    height: 99px;
  }

  .mpicGroup3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 42px;
    padding-right: 41px;
  }

  .mpicGroup3 img {
    margin-right: 20px;
    max-width: none;
    height: auto;
  }

  .marrow3 {
    width: 15px;
    height: 14px;
  }

  .mcontent2 {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .mhintContent2 {
    font-size: 9px;
    font-family: MicrosoftYaHei;
    color: #999999;
    line-height: 12px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .mcoupon {
    padding: 15px;
    background: #f9f9f9;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .mrules,
  .mnumber {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 16px;
    margin-bottom: 10px;
  }

  .mtime {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #f03e1a;
    line-height: 16px;
  }

  .title3Label {
    font-size: 17px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 23px;
  }

  .part-2 {
    margin: 0px 15px;
    background-color: #fff;
    height: auto;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 20px;
  }

  /* .arrow1 {
    width: 56px;
    height: 28px;
    margin-right: 8px;
  } */

  /* .arrowLabel {
    font-size: 30px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #f03e1a;
    line-height: 40px;
  } */

  .rulesIntro {
    padding: 15px;
  }

  .rulesNumber {
    font-size: 20px;
  }

  .rulesLabel,
  .rulesLabel1 {
    font-size: 12px;
  }

  .box3 {
    height: 11px;
    width: 1px;
    border: 1px dashed #f03e1a;
    margin-top: 4px;
    /* margin-bottom: 8px; */
    margin-left: 10px;
  }

  .couponIntro2 {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .bg-1 {
    background-image: url("images/mbg-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    position: relative;
  }

  .blackIconGroup {
    display: block;
  }

  .blackIconGroup,
  .appointmentLabel,
  .weixinLabel,
  .membershipLabel,
  .globalLabel,
  .addition {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 18px;
  }

  .appointmentLabel {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #f03e1a;
    line-height: 18px;
  }

  .blackIcon,
  .appointment,
  .weixin,
  .membership,
  .global,
  .redTel,
  .fixed {
    width: 13px;
    height: 13px;
  }

  .clarifyPart .front img {
    max-width: none !important;
  }

  .fixedPart .front img {
    max-width: none !important;
  }

  .redTelPart .front img {
    max-width: none !important;
  }

  .bold2 {
    word-wrap: nowrap;
  }

  .usePart,
  .appointmentLabel,
  .weixinLabel,
  .membershipLabel,
  .globalLabel,
  .addition,
  .redTelLabel1,
  .redTelLabel2,
  .fixedLabel1,
  .fixedLabel2,
  .clarifyLabel1,
  .clarifyLabel2,
  .getCoupon,
  .convinent {
    font-size: 12px;
    line-height: 18px;
  }

  .weixinPart,
  .membershipPart,
  .globalPart {
    align-items: flex-start;
  }

  .fixedLabel2 {
    display: none;
  }

  .mfixedLabel2 {
    display: inline;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 18px;
  }

  .bg1-arrow {
    display: none;
  }

  .mbg1-arrow {
    display: block;
    position: absolute;
    bottom: -55px;
    left: 48%;
    width: 53px;
    height: 55px;
  }

  .title4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .title4 .arrowLeft {
    width: 40px;
    height: 11px;
  }

  .title4 .arrowRight {
    width: 40px;
    height: 11px;
  }

  /* .title3Label {
    font-size: 34px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 46px;
  } */

  .part-3 {
    padding-top: 30px;
    margin: 0px 15px;
    background-color: #fff;
    height: auto;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .processNumber {
    font-size: 25px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #f03e1a;
    line-height: 34px;
    background: linear-gradient(180deg, #ff6648 0%, #d90000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .processLabel1 {
    font-size: 20px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 27px;
  }

  .processPart1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }

  .whiteTel {
    width: 12px;
    height: 12px;
  }

  .whiteNumber {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #999999;
    line-height: 22px;
  }

  .whiteTelNumber {
    font-size: 10px;
    font-family: MicrosoftYaHei;
    color: #999999;
    line-height: 22px;
    white-space: nowrap;
  }

  .processHint {
    display: none;
  }

  .mprocessHint {
    display: block;
    font-size: 12px;
    font-family: MicrosoftYaHeiSemibold;
    color: #333333;
    line-height: 16px;
    margin-bottom: 15px;
  }

  .mtv-version {
    color: #f03e1a;
  }

  .box4 {
    border-radius: 10px;
    border: 2px dashed #cacaca;
    padding-top: 20px;
    padding-left: 13px;
    padding-right: 15px;
    padding-bottom: 20px;
  }

  .scanPart {
    display: flex;
    flex-direction: column;
  }

  .scan,
  .web {
    width: 44px;
    height: 44px;
    margin-bottom: 20px;
  }

  .weixinStep,
  .miniWrapper,
  .stepIntroduce {
    display: none;
  }

  .mweixinStep {
    display: flex;
    flex-direction: column;
  }

  .mweixinPicGroup1 {
    padding-left: 14px;
    padding-right: 16px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .mpic8,
  .mpic9 {
    width: 108px;
    height: 107px;
  }

  .mstep1Wrapper {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    padding-left: 17px;
    padding-right: 24px;
    margin-top: 5px;
    text-align: center;
  }

  .mpic8Wrapper,
  .mpic9Wrapper {
    font-size: 9px;
    font-family: MicrosoftYaHei;
    color: #666666;
    line-height: 12px;
    text-align: center;
    flex: 1;
  }

  .or {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #f03e1a;
    line-height: 16px;
    text-align: center;
    margin-right: 5px;
  }

  .mpic8Wrapper {
    margin-right: 8px;
  }

  .mpicHint1 {
    word-wrap: nowrap;
  }

  .mstep-1 {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #111111;
    line-height: 16px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }

  .dashed1 {
    position: relative;
    width: calc(50% - 51px);
    height: 18px;
    margin-left: 51px;
    border-right: 2px dashed rgb(1 50 135 / 20%);
    border-bottom: 2px dashed rgb(1 50 135 / 20%);
  }

  .dashed1::before {
    content: " ";
    position: absolute;
    top: 18px;
    width: 0;
    height: 13px;
    border-left: 2px dashed rgb(1 50 135 / 20%);
  }

  .dashed1::after {
    content: " ";
    position: absolute;
    height: 0;
    width: 0;
    bottom: -35px;
    left: -5px;
    border-top: 10px dashed rgb(1 50 135 / 20%);
    border-bottom: 10px dashed transparent;
    border-right: 6px dashed transparent;
    border-left: 6px dashed transparent;
    border-radius: 2px;
  }

  .mweixinPicGroup2 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mpic10,
  .mpic11 {
    width: 128px;
    height: 118px;
  }

  .marrow-1 {
    width: 15px;
    height: 14px;
    margin-left: 8px;
    margin-right: 7px;
  }

  .mstep2Wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  .mstep-2,
  .mstep-3 {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #111111;
    line-height: 16px;
    text-align: center;
    font-weight: bold;
  }

  .dashed2 {
    position: relative;
    width: calc(50% - 53px);
    height: 18px;
    margin-left: 50%;
    border-right: 2px dashed rgb(1 50 135 / 20%);
    border-bottom: 2px dashed rgb(1 50 135 / 20%);
  }

  .dashed2::before {
    content: " ";
    position: absolute;
    top: 18px;
    width: 0;
    height: 13px;
    border-left: 2px dashed rgb(1 50 135 / 20%);
  }

  .dashed2::after {
    content: " ";
    position: absolute;
    height: 0;
    width: 0;
    bottom: -35px;
    left: -5px;
    border-top: 10px dashed rgb(1 50 135 / 20%);
    border-bottom: 10px dashed transparent;
    border-right: 6px dashed transparent;
    border-left: 6px dashed transparent;
    border-radius: 2px;
  }

  .mpic12 {
    width: 128px;
    height: 118px;
    margin: 20px auto;
    display: block;
  }

  .mstep-4 {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #111111;
    line-height: 16px;
    text-align: center;
    font-weight: bold;
  }

  .addition-1 {
    font-size: 9px;
    font-family: MicrosoftYaHei;
    color: #999999;
    line-height: 12px;
  }

  .mobileRed {
    color: #f03e1a;
  }

  .webPart {
    display: flex;
    flex-direction: column;
  }

  .webStep {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .pic13 {
    width: 287px;
    height: 136px;
  }

  .webAppointmentLabel1 {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 16px;
    text-align: center;
    padding-left: 55px;
    padding-right: 54px;
    /* font-weight: bold; */
  }

  .pic14 {
    width: 254px;
    height: 129px;
    /* margin-left: 15px; */
  }

  .pic14Group {
    margin-left: 0;
    /* justify-content: center; */
  }

  .webAppointmentLabel2 {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 16px;
    text-align: center;
    /* font-weight: bold; */
  }

  .processStep,
  .labelGroup {
    display: none;
  }

  .mprocessPart {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
  }

  .dashed {
    position: relative;
    width: calc(50% - 160px);
    height: 18px;
    margin-left: 160px;
    border-right: 2px dashed rgb(1 50 135 / 20%);
    border-bottom: 2px dashed rgb(1 50 135 / 20%);
  }

  .mprocessLabelGroup1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .mprocessIntro1,
  .mprocessIntro2,
  .processIntro3 {
    font-size: 24px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 32px;
    text-align: center;
    width: 264px;
  }

  .dashed3 {
    position: relative;
    width: calc(50% - 105px);
    height: 18px;
    margin-left: 285px;
    border-right: 2px dashed rgb(1 50 135 / 20%);
    border-bottom: 2px dashed rgb(1 50 135 / 20%);
  }

  .dashed3::before {
    content: " ";
    position: absolute;
    top: 18px;
    width: 0;
    height: 13px;
    border-left: 2px dashed rgb(1 50 135 / 20%);
  }

  .dashed3::after {
    content: " ";
    position: absolute;
    height: 0;
    width: 0;
    bottom: -35px;
    left: -5px;
    border-top: 10px dashed rgb(1 50 135 / 20%);
    border-bottom: 10px dashed transparent;
    border-right: 6px dashed transparent;
    border-left: 6px dashed transparent;
    border-radius: 2px;
  }

  .processPart4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }

  .otherGroup {
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    border-radius: 20px;
    padding: 20px 30px 22px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: warp;
    margin-top: 30px;
  }

  .beizhu {
    font-size: 15px;
    line-height: 17px;
  }

  .otherRight,
  .otherLeft ul {
    font-size: 10px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 17px;
    display: flex;
    flex-direction: column;
  }

  .otherLabel {
    font-size: 10px;
    line-height: 17px;
  }

  .otherRight {
    width: auto;
  }

  .end {
    font-size: 15px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 20px;
    text-align: center;
    padding: 0;
    margin-top: 20px;
  }

  .part-4 {
    margin: 0px 15px;
    background-color: #fff;
    height: auto;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-right: 20px;
    /* margin-bottom: 50px; */
  }

  .shoufei {
    display: none;
  }
  .mshoufei {
    display: flex;
    flex-direction: column;
  }

  .mshoufeiGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .mfee1,
  .mfee2,
  .mfee3 {
    background: #f9f9f9;
    border-radius: 10px;
  }

  .mpic15 {
    margin-top: 15px;
    margin-left: 37px;
    margin-right: 37px;
    margin-bottom: 10px;
    width: 67px;
    height: 43px;
  }

  .mfeeName1,
  .mfeeName2 {
    font-size: 15px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 20px;
    text-align: center;
    word-wrap: nowrap;
  }

  .mfeeDetail1 {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 16px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 6px;
    margin-bottom: 15px;
    text-align: center;
  }

  .mfeeDetail2 {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 16px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 6px;
    margin-bottom: 31px;
    text-align: center;
  }

  .line {
    width: 35px;
    height: 1px;
    border: 1px dashed #cacaca;
  }

  .mredPlus {
    width: 17px;
    height: 17px;
    margin-top: 63px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .mfeeName3 {
    font-size: 15px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #333333;
    line-height: 20px;
    text-align: center;
    word-wrap: nowrap;
  }

  .mfee3 {
    margin-top: 20px;
    margin-right: 83px;
    margin-left: 83px;
    margin-bottom: 20px;
  }

  .mfeeDetail3 {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #333333;
    line-height: 16px;
    text-align: center;
    margin-bottom: 32px;
  }

  .lineGroup {
    padding-left: 73px;
    padding-right: 73px;
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
  }

  .leftLine {
    width: 91px;
    height: 1px;
    border: 2px dashed #cacaca;
    transform: rotate(30deg); /* 旋转45度，形成对角线 */
  }

  .rightLine {
    width: 91px;
    height: 1px;
    border: 2px dashed #cacaca;
    transform: rotate(-30deg); /* 旋转45度，形成对角线 */
  }
}
